<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Оценки студента:</title>
</head>
<body>
    <div class="conatainer">
        <div class="container mt-4 w-50 p-3 border border-dark" style="background-color: #eee;">
            <div class="text-center">
                <h2>Оценки:</h2>
                
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>Оценка</th>
                            <th>Предмет</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody id="gradesTable">

                    </tbody>
                </table>
                <a href="/Frontend/Adds/add.grade.html" class="btn btn-success">Добавить оценку и предмет</a>
                <a href="/Frontend/index.html" class="btn btn-primary">Назад</a>
            </div>
        </div>
    </div>
<script>
async function allGrade() {
    const Url = new URLSearchParams(window.location.search);
    const id = Url.get('id');

    let response = await fetch(`http://studentsprojectrestfullapi/grades/?student_id=${id}`);
    let grades = await response.json();

    const container = document.getElementById('gradesTable');
    container.innerHTML = '';

    grades.forEach(grade => {
        container.innerHTML +=
        `
        <tr>
            <td>${grade.Оценка}</td>
            <td>${grade.Предмет}</td>
            <td>
                <button onclick="deleteGrade(${grade.grade_id})"class="btn btn-danger">Удалить</button>
            </td>
        </tr>
        `
    });
}
async function deleteGrade(id){
    let response = await fetch(`http://studentsprojectrestfullapi/grades/${id}`, {
        method: 'DELETE'
    });
    allGrade();
}
allGrade();
</script>
</body>
</html>